VS_VERSION_INFO VERSIONINFO
FILEVERSION    1,0,0,0
PRODUCTVERSION 1,0,0,0
{
    BLOCK "StringFileInfo"
    {
        BLOCK "040904b0"
        {
            VALUE "CompanyName",        "Starblazer.\0"
            VALUE "FileDescription",    "Starblazer for Windows 95/NT\0"
            VALUE "FileVersion",        "1.0.0.0\0"
            VALUE "LegalCopyright",     "2022 Will Klees & Josh Piety\0"
            VALUE "OriginalFilename",   "Starblazer\0"
            VALUE "ProductName",        "Starblazer\0"
            VALUE "ProductVersion",     "1.0.0.0\0"
        }
    }
    BLOCK "VarFileInfo"
    {
        VALUE "Translation", 0x409, 1200
    }
}

IDI_MYAPP_ICON	ICON	"flag.ico"